<ion-view title="Home">
  <ion-content padding="false" class="has-header">
    <form class="list">
      <label class="item item-input item-stacked-label" >
        <span class="input-label">Rupees:</span>
        <input type="number" placeholder="Enter fuel amount.....">
      </label>
      <label class="item item-input" >
        <span class="input-label">Liters:</span>
        <input type="number" placeholder="Enter fuel in liters.....">
      </label>
      <label class="item item-input item-stacked-label" >
        <span class="input-label">Mileage:</span>
        <input type="number" placeholder="Enter mileage of your car.....">
      </label>
      <label class="item item-input" >
        <span class="input-label">Number of Trips</span>
        <input type="number" placeholder="Number of trips taken.....">
      </label>
      <label class="item item-select" >
        <span class="input-label">Brand:</span>
        <select>
          <option>PSO</option>
          <option>Shell</option>
          <option>Total Parco</option>
          <option>Bakri</option>
          <option>Hysco</option>
        </select>
      </label>
      <button class="button button-balanced  button-block icon-left ion-android-bookmark">Save</button>
    </form>
  </ion-content>
</ion-view>