<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <div class="title">{{currentUser.userDate.username}}</div>
    </ion-header-bar>
    <ion-content scroll="false" padding="false" class="side-menu-left">
      <ion-list>
        <ion-item class="item-icon-left inputBoxBackground" ui-sref="app.home" menu-close="">
          <i class="icon ion-home"></i>Home</ion-item>
        <ion-item class="item-icon-left inputBoxBackground" ui-sref="app.history" menu-close="">
          <i class="icon ion-android-calendar"></i>History</ion-item>
      </ion-list>
      <div class="row">
        <div class="col">
          <button class="button button-balanced  button-block icon-left ion-android-sync">sync</button>
        </div>
        <div class="col">
          <button ng-click="logout()" menu-close class="button button-assertive  button-block icon-left ion-log-out">Logout</button>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>